<!-- Google AdWords Conversion -->
{% assign google_conversion_id = 851865416 %}
{% assign google_conversion_label = "Oz0CCLGftHEQyN6ZlgM" %}
{% assign google_user_id  = '{{ customer.id }}' %}
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = {{ google_conversion_id }};
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "{{ google_conversion_label }}";
// if ({{ total_price }}) { var google_conversion_value = {{ total_price | money_without_currency }}; }
var google_conversion_value = {{ total_price | money_without_currency | remove: ',' }};
var google_conversion_order_id = "{{ order.order_number }}";
var google_conversion_currency = "{{ shop.currency }}";
var google_remarketing_only = false;
var google_user_id = '{{ google_user_id }}';
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/{{ google_conversion_id }}/?value={{ total_price | money_without_currency | remove: ',' }}&amp;oid={{ order.order_number }}&amp;currency_code={{ shop.currency }}&amp;label={{ google_conversion_label }}&amp;guid=ON&amp;script=0&amp;userId={{ google_user_id }}"/>
</div>
</noscript>
<!-- END Google AdWords Conversion -->


<!-- Google Adwords Dynamic Remarketing -->
<script type="text/javascript">
var google_tag_params = {
  ecomm_prodid: [{% for item in order.line_items %}'{{ item.variant.id }}'{% unless forloop.last %}, {% endunless %}{% endfor %}],
  ecomm_pagetype: 'purchase',
  ecomm_totalvalue: {{ total_price | money_without_currency | remove: ',' }}
};
</script>
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = {{ google_conversion_id }};
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
var google_user_id = '{{ google_user_id }}';
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/{{ google_conversion_id }}/?guid=ON&amp;script=0&amp;userId={{ google_user_id }}"/>
</div>
</noscript>
<!-- END Google Adwords Dynamic Remarketing -->


<!-- Bing Ads Universal tag -->
<script>(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"5708096"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");</script><noscript><img src="//bat.bing.com/action/0?ti=5708096&Ver=2" height="0" width="0" style="display:none; visibility: hidden;" /></noscript>
<!-- End Bing Ads Universal tag -->


<!-- Bing Ads Code for Successful Sale Conversion Page -->
<script> window.uetq = window.uetq || [];
 window.uetq.push({ 'gv': '{{ subtotal_price | money_without_currency }}' });
</script>


<!-- Twitter universal website tag code -->
<script>
!function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
},s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
// Insert Twitter Pixel ID and Standard Event data below
twq('init','nxxxp');
twq('track','PageView');
</script>
<!-- End Twitter universal website tag code -->


<!-- Klaviyo Tracking code for email markerting -->
<script type="text/javascript">
	var _learnq = _learnq || [];
	_learnq.push(['account', 'Fr2zbh']);
	(function () {
	var b = document.createElement('script'); b.type = 'text/javascript'; b.async = true;
	b.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'a.klaviyo.com/media/js/analytics/analytics.js';
	var a = document.getElementsByTagName('script')[0]; a.parentNode.insertBefore(b, a);
	})();
</script>
<!-- End Klaviyo Tracking code for email markerting -->


<!-- Google customer reviews seller ratings -->
<script src="https://apis.google.com/js/platform.js?onload=renderOptIn" async defer></script>
<script>
 window.renderOptIn = function() {
  window.gapi.load('surveyoptin', function() {
   window.gapi.surveyoptin.render(
    {
     "merchant_id": 113522465,
     "order_id": "{{order.name}}",
     "email": "{{customer.email}}",
     "delivery_country": "{{shipping_address.country_code}}",
     // 1814000 is 21 days in seconds
     "estimated_delivery_date": "{{ order.created_at | date:'%s' | plus:1814000  | date:"%F" }}"
    });
  });
 }
</script>
<!-- END Google customer reviews seller ratings -->


<!-- BEGIN GCR Language Code -->
<script>
 window.___gcfg = {
  lang: 'en_US'
 };
</script>
<!-- END GCR Language Code -->


<!-- Hotjar Tracking Code for https://www.indiraactive.com/ -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:584375,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>
<!-- End Hotjar -->


<!--  LinkedIn Insight Tag conversion tracking -->
<script type="text/javascript">
_linkedin_data_partner_id = "95846";
</script><script type="text/javascript">
(function(){var s = document.getElementsByTagName("script")[0];
    var b = document.createElement("script");
    b.type = "text/javascript";b.async = true;
    b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
    s.parentNode.insertBefore(b, s);})();
</script>
<noscript>
    <img height="1" width="1" style="display:none;" alt="" src="https://dc.ads.linkedin.com/collect/?pid=95846&fmt=gif" />
</noscript>
<!--  END LinkedIn Insight Tag conversion tracking -->


<!-- ShareASale tracking -->
{% if first_time_accessed %}
<img src="https://shareasale.com/sale.cfm?amount={{subtotal_price|money_without_currency}}&tracking={{order_name|handleize}}&transtype=sale&merchantID=76345" width="1" height="1">
{% endif %}
<!-- End ShareASale -->

<!-- Sniply Tracking -->
<img src="https://snip.ly/services/pixel/5a9f6b4e76ae563b192d3e9b/" height=1 width=1 border=0 />
<!-- End Sniply tracking -->
